body {
  line-height: 1.7;
  color: #666666;
  font-weight: 400;
  font-size: 1rem;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Arbutus Slab", serif;
  color: #000;
}