body {
  line-height: 1.7;
  color: #444444;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  /*background-color: #f5e9e2;*/
  background-image: linear-gradient(#f5e9e2, #b0a49d);
/*  background-repeat: no-repeat;*/
  background-size: cover;
  background-attachment: fixed;
  /*margin: 40px*/
  font-family: sans-serif;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
a {
  color: #993366;
}
a:visited {
  color: #993366;
}
a:active{
  color: #999999;
}
a:hover {
  text-decoration: none;
}
ul{
  text-align: left;
  margin: 20px;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Arbutus Slab", serif;
  color: #773344;
}
p{
  margin-left: 10%;
  margin-right: 10%;
  /*border-bottom: 5px dashed rgba(0.6,0.6,0.6,0.4);*/
}
.wrapper{
  margin-left: 10%;
  margin-right: 10%;
  border-left: 2px dashed rgba(0.6,0.6,0.6,0.4);
  border-right: 2px dashed rgba(0.6,0.6,0.6,0.4);
  height: 100%;
}
.button{
  background-color: #aa6677;
  font-family:opensans;
  text-align: center;
  font-size:25px;
  color:white;
  border:none;
  cursor:pointer;

  /*position: fixed;*/
  margin-bottom: 10px;
  margin-top: 10px;
  bottom:10%;
  width:50%;
  left:25%;
  padding:10px 0px;
}