body{
	text-align: center;
	background-color: #f5e9e2;
	color: #0b0014;
}
h1,h2,h3,h4{
	color: #773344;
}
ul{
	text-align: left;
}
.button{
	background-color: #eb3f3f;
	font-family:opensans;
	text-align: center;
	font-size:25px;
	color:white;
	border:none;
	cursor:pointer;

	/*position: fixed;*/
	margin-bottom: 20px;
	bottom:10%;
	width:50%;
	left:25%;
	padding:10px 0px;
}